html, body { 
  height: 100%;
  margin:0; 
  padding:0;
  background: #ffffff;
  font-size: 16pt;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

header {
  height: 50px; 
  margin-bottom: 50px;
}

body {
  margin:10px; 
  padding-top:20px;
  padding-left:60px;
  padding-right:60px;
}

.main {
  padding: 10px;
}

h1 {
  font-size: 40pt;
}

h4, p {
  transition: all 0.2s ease-in-out;
  animation:fadein 3s;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  top:0;
  transition: all 0.2s ease-in-out;
  animation:fadein 3s;
  border-bottom: dotted 1px grey;
}

h1:hover, h2:hover {
  color: grey;
}

.noHover{
    pointer-events: none;
    border-bottom: none;
}

.logo {
  position:fixed; 
  font-size: 2em;
  z-index:1000; 
  margin-top: 32px; 
  margin-left: 10px;
  padding: 7px 7px 7px 7px;
  background-color:rgba(255, 255, 255, 0.9);
}

.navbar {
  font-weight: bold;
  position: fixed;
  overflow: hidden;
    background-color:rgba(255, 255, 255, 0.9);
    right:30px;
    height: 50px;
  z-index: 10000;
  border-bottom: dotted 1px grey;
  transition: all 0.2s ease-in-out;
  animation:fadein 3s;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
  color: grey;
}


/*Home---------------------------------------------------------------------*/

svg { 
  display:block;
  height:750px;
}

.line {
  opacity:0.5;
  fill:#FFFFFF;
  stroke:#000000;
  stroke-width:1.5;
  stroke-dasharray:4079;
  stroke-dashoffset:4079;
  animation:offset 2s linear forwards;
}

@keyframes offset {
  to {stroke-dashoffset: 0;}
}

#line-background {
  overflow: hidden;
  position:relative;
  height:100%;
}

.diamond {
  -webkit-clip-path: polygon(50% calc(50% - 71px), calc(50% + 71px) 50%, 
                 50% calc(50% + 71px), calc(50% - 71px) 50%);
  clip-path: polygon(50% calc(50% - 71px), calc(50% + 71px) 50%, 
             50% calc(50% + 71px), calc(50% - 71px) 50%);
  display:block;
  width:142px;
  background-position:center center;
  transition: all 0.2s ease-in-out;
  animation:fadein 4s;
  -moz-animation:fadein 4s; /* Firefox */
    -webkit-animation:fadein 4s; /* Safari and Chrome */
    -o-animation:fadein 4s; /* Opera */
}

.diamond:hover {
  transform: scale(1.5);
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity:1;}
}

#art_img {
  position:absolute;
  left:665px;
  top:464px;
}

#architecture_img {
  position:absolute;
  left:300px;
  top:375px;
}

#projects_img {
  position:absolute;
  left:1011px;
  top:248px;
}

#research_img {
  position:absolute;
  left:430px;
  top:114px;
}

#about_img {
  position:absolute;
  left:790px;
  top:15px;
}

/*Subpages---------------------------------------------------------------------*/

img {
  transition: all 0.2s ease-in-out;
  animation:fadein 3s;
}

blockquote {
  border-left: solid 4px #999999;
  margin: 0 0 1em 0;
  padding: 0.5em 0 0.5em 1em;
  font-size: 13pt;
  transition: all 0.2s ease-in-out;
  animation:fadein 3s;
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px #c9c9c9;
  font-family: "Source Sans Pro", monospace;
  font-size: 0.9em;
  margin: 0 0.7em;
  padding: 0.25em 0.65em;
  transition: all 0.2s ease-in-out;
  animation:fadein 3s;
}

.half_image {
  width:49.5%;
}

.third_image {
  width:33%;
}

.fourth_image {
  width:24%;
}

/*Tiles-----------------------------------------------------------------------------*/

.tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: -2.5em 0 0 -2.5em;
    transition: all 0.2s ease-in-out;
    animation:fadein 3s;
  }

    .tiles article {
      -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease;
      position: relative;
      width: calc(33.33333% - 2.5em);
      margin: 0.5em 0 2em 2.5em;
    }

      .tiles article > .image {
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        position: relative;
        display: block;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
      }

        .tiles article > .image img {
          display: block;
          width: 100%;
        }

        .tiles article > .image:before {
          -moz-pointer-events: none;
          -webkit-pointer-events: none;
          -ms-pointer-events: none;
          pointer-events: none;
          -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
          -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
          -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
          transition: background-color 0.5s ease, opacity 0.5s ease;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 1.0;
          z-index: 1;
          opacity: 0.8;
        }

        .tiles article > .image:after {
          -moz-pointer-events: none;
          -webkit-pointer-events: none;
          -ms-pointer-events: none;
          pointer-events: none;
          -moz-transition: opacity 0.5s ease;
          -webkit-transition: opacity 0.5s ease;
          -ms-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          opacity: 0.25;
          z-index: 2;
        }

      .tiles article > a {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
        -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
        -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
        transition: background-color 0.5s ease, transform 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1em;
        border-radius: 4px;
        border-bottom: 0;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        z-index: 3;
      }

        .tiles article > a > :last-child {
          margin: 0;
        }

        .tiles article > a:hover {
          color: #ffffff !important;
        }

        .tiles article > a h2 {
          margin: 0;
        }

        .tiles article > a .content {
          -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
          -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
          -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
          transition: max-height 0.5s ease, opacity 0.5s ease;
          width: 100%;
          max-height: 0;
          line-height: 1.5;
          margin-top: 0.35em;
          opacity: 0;
        }

          .tiles article > a .content > :last-child {
            margin-bottom: 0;
          }

      .tiles article.style1 > .image:before {
        background-color: #7c7c7c7c;
      }

      body:not(.is-touch) .tiles article:hover > .image {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }

        body:not(.is-touch) .tiles article:hover > .image:before {
          background-color: #333333;
          opacity: 0.35;
        }

        body:not(.is-touch) .tiles article:hover > .image:after {
          opacity: 0;
        }

      body:not(.is-touch) .tiles article:hover .content {
        max-height: 15em;
        opacity: 1;
      }

    * + .tiles {
      margin-top: 0em;
    }

    body.is-loading .tiles article {
      -moz-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
    }

    body.is-touch .tiles article .content {
      max-height: 15em;
      opacity: 1;
    }


/*--------------------*/
